In [ ]:
# day objectives:
- operators
- conditional statements
- iterations

In [4]:
s=input()
print("welcome to",s)
print("welcome to"+s)
print("welcome to "+s)

pavani
welcome to pavani
welcome topavani
welcome to pavani

In [5]:
#welcome urname clgname
s1=input()
s2=input()
print("welcome to",s1,s2)

pavani
aditya
welcome to pavani aditya

In [ ]:
#operators:
- arithmatic operators(+,-,*,/,%,//(floor),**(power))
- assignment operators(=,+=,-=,*=,/=,%=,//=,**=)
- logical operators (and,or,not)
- comparision operators (==,!=,<,>,<=,>=)
- bitwise operators (&,|,^,<<,>>)
- membership operators(in, not in)
- identity operators (is,is not)

In [9]:
#- arithmatic operators(+,-,*,/,%,//(floor),**(power)):
a=int(input())
b=int(input())
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b) #absolute value 
print(a**b) #power

20
2
22
18
40
10.0
0
10
400

In [14]:
#- assignment operators(=,+=,-=,*=,/=,%=,//=,**=):
c=int(input())
d=c
print(d)
print(c)

23
23
23

In [25]:
c=int(input())
d=int(input())
c+=d  #c=c+d
print(c)   #c=4
c-=d #c=c-d
print(c)  #c=1
c*=d #c=c*d
print(c)
c/=d #c=c/d
print(c)
c%=d
print(c)
c//=d  #c=c//d
print(c)
c**=d
print(c)

1
3
4
1
3
1.0
1.0
0.0
0.0

In [26]:
0.0**3

0.0

In [17]:
c=1
print(c)
c=45
print(c)

1
45

In [18]:
c

45

In [33]:
#logical operators:(and,or,not):
a=7
print(a<5 and a<10)  #and--->both are true
print(a<8 and a<10)
print(a<5 or a<10)  #or--->any one is true
print(a<5 or a<2)
print(not(a<5 and a<10))
print(not(a<8 and a<10))

False
True
True
False
True
False

In [36]:
# comparision operators(==,!=,<,>,<=,>=)
a=2
b=5
print(a==b)
print(a!=b)
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)

False
True
True
False
True
False

In [41]:
#bitwise (&,|,^,<<,>>)
a=2 #0010---->0000 0010
b=3 #0011---->0000 0011
print(a&b)
print(a|b)
print(a^b)
print(a<<b)   #2<<3
print(a>>b)   #2>>3

2
3
1
16
0

In [ ]:
#### 0000 0010 (left shift)
0000 0100--->1st
0000 1000--->2nd
0001 0000---->3rd

128 64 32 16 8 4 2 1
0    0  0  1 0 0 0 0

In [ ]:
#### 0000 0010 (right shift)
0000 0001--->1st
0000 0000--->2nd
0000 0000---->3rd

128 64 32 16 8 4 2 1
0    0  0  0 0 0 0 0

In [ ]:
x y x&y              x y x|y           x y x^y  
0 0  0               0 0  0            0 0  0
0 1  0               0 1  1            0 1  1
1 0  0               1 0  1            1 0  1
1 1  1               1 1  1            1 1  0

In [ ]:
a--->0010
b--->0011
---------
(and)0010---->2
(or) 0011---->3
(xor)0001---->1

In [43]:
#- membership operators(in, not in):
a="python"
print('y' in a)
print('y' not in a)

True
False

In [45]:
#- identity operators(is,is not)
a=25
b=17
print(a is b)
print(a is not b)

False
True

In [ ]:
## Conditional statements:
- to check the ability of the program we use conditionals
# 3 types:
1)if
2)if-else
3)elif

In [ ]:
#indention in python:
- for intendation we have to use 4 spaces or 1 tab space
- indentation is used to declare a block

In [ ]:
#if:
- if statement is used to test a particular condition
#syn:
if(condition):
    print()

In [47]:
#positive
n=int(input())
if n>0:
    print("positive number")

-4

In [ ]:
# if-else:
if condition false then it enetrs into else block
#syn:
if (condition):
    statement1
else:
    statement2

In [49]:
age=int(input())
if age>=18:
    print("your eligible for vote")
else:
    print("your not eligible for vote")

13
your not eligible for vote

In [52]:
n=int(input())
if n%2==0:
    print("even")
else:
    print("odd")

55
odd

In [53]:
55%2

1

In [ ]:
#elif:
- if u have more than one condition then u can use elif
- #syn:
if(condition):
    statement1
elif(condition):
    statement2
elif(condition):
    statement3
elif(condition):
    statement4
else:
    statement5

In [56]:
#biggest of 3 numbers
a,b,c=50,20,80
if a>b and a>c:
    print(a," is big")
elif b>a and b>c:
    print(b," is big")
else:
    print(c,"is big")

80 is big

In [60]:
n=input()
if ((n>='a' and n<='z') or (n>='A' and n<='Z')):
    print("Alphabet")
elif (n>='0' and n<='9'):
    print("digit")
else:
    print("special symbol")

$
special symbol

In [65]:
n=int(input())
if(n==0):
    print("Sunday")
elif (n==1):
    print("monday")
elif (n==2):
    print("tuesday")
elif (n==3):
    print("wednesday")
elif (n==4):
    print("thursday")
elif (n==5):
    print("friday")
elif (n==6):
    print("saturday")
else:
    print("invalid")

3
wednesday

In [ ]:
# task1:
marks-->dynamic input
80 to 100---->grade A
70  to 79---->grade B
60  to 69---->grade C
45  to 59---->grade D
below 45----->Fail

#task 2:
a,b---->2 dynamic inputs
choice---->1 dynamic input
1.add,2.sub,3.mul,4.div,5.mod,6.floor,7.power  (arthmatic operations)....invalid choice

#task3:
uid--->dynamic (number)
50-100--->pwd--->dynamic input
    pwd==6789
    welcome uid
    pwd!=6789
    inavlid password
invalid uid

In [ ]:
67
(50-100)
    pwd--->0000
    0000==6789--->invalid password
    pwd--->6789
    6789==6789---->welcome to 67
inavlid userid

In [ ]:
20--->a
10---->b
1------>choice
30---->addition

In [ ]:
# nested if
you camn use one if or elif statement inside another if or elif
#syn:
if condition1:
    if condition2:
        statement1
    elif condition3:
        statement2
    else:
        statement3
else:
    statement4

In [68]:
even=int(input())
if even%2==0:
    if even>5:
        print(even**2)
    else:
        print(even**3)
else:
    print("odd")

4
64

In [ ]:
7---->odd
6

In [66]:
6**2

36

In [69]:
4**3

64

In [ ]:
# iterations:
#loops:
loop repeats a sequence of instructions until a specific condition is satisfied
#2 loops:
1)for
2)while

In [ ]:
#for:
- used in the case where we need to execute some part of the cose until the given condition satisfied
- for loop is also pre-tested loops
#syn:
for var in range(start,end+1):
    statement
    
#syn:
for var in iterable:
    statements

In [70]:
for i in "python":
    print(i)

p
y
t
h
o
n

In [78]:
for i in "python":
    print(i,end=" ")

p y t h o n

In [ ]:
1,10

In [79]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [80]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [81]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [82]:
for i in range(1,11):
    print(i*2,end=" ")

2 4 6 8 10 12 14 16 18 20

In [83]:
for i in range(1,11):
    print(i**2,end=" ")

1 4 9 16 25 36 49 64 81 100

In [84]:
n=int(input())
for i in range(1,n+1):
    print(i,end=" ")

30
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [85]:
n=int(input())
for i in range(1,n+1):
    if i%2==0:
        print(i,end=" ")

30
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30

Registered students list:
    https://docs.google.com/spreadsheets/d/1VoukJ8anoLbzzMtuoopp2Asabc8EoL3gGFlTXcmNaQg/edit?usp=sharing